ShamenRepo/pipeline/FileMove.json
{
	"name": "FileMove",
	"properties": {
		"activities": [
			{
				"name": "FileNames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "InputFile",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings"
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Iterate Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FileNames').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Condition For Files",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(substring(item(),0,5),'Daily')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Move DailyFiles",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "StoreFileName",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": {
														"value": "@variables('FileName')",
														"type": "Expression"
													}
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "InputFile",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "OutPutDailyFiles",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "StoreFileName",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "FileName",
											"value": {
												"value": "@activity('FileNames').output",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"FileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "TestPipeLine"
		},
		"annotations": []
	}
}